ul.message-list{
	list-style-type: none;
	position: relative;
	left: 15%;
}

li.message-list-item{
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
}

.message{
	width: 600px;
	position: relative;
	left: -80px;
}


span.username{
	padding-bottom: 5px;
	border-bottom: 4px solid black;
}

.notification{
	position: fixed;
	left: -200px;
	width: 200px;
}

.internal{

}

.external{
	
}